*{
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(249, 240, 240);
  font-family: 'Titan One', cursive;
  font-size: 4.5vw;
  padding: 20px 5px;
  text-align: center;
}
.navBar {
  overflow: hidden;
  background-color: rgb(249, 240, 240);
}
.navBar a {
  float: left;
  display: block;
  color: black;
  font-family: 'Roboto', sans-serif; 
  font-size: 20px; 
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.navBar a:hover {
  background-color:rgb(249, 240, 240);
  color: black;
  text-decoration: underline;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 15px 16px;
  background-color: inherit;
  font-family: 'Roboto', sans-serif; 
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.pageWrapper{
  margin:  auto;
  flex-wrap: wrap;
  padding-top: 75px;
  width: 75%;
  height: 75%;
  }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.p{
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
 }

 .h3{
  font-size: 34px;
}
h2{
 padding-bottom: 40px;
}

  img {
    width:75vw;
    height:auto;
  vertical-align: middle;
border: 1px solid black;}

  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 30px;
    margin-top: 8%;
  }
  .container .card{
    width: 308px;
    position: relative;
    height: 400px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .container .imgbx{
  position: relative;
  width:100%;
  height: 260px;
  top: -60px;
  left: 20px;
  }
  #footer{
    bottom:0;
    position: fixed;
    width:100%;
    height:18px;
    text-align: center;
  }
  .robofont{
    font-family: 'Roboto', sans-serif;
  }
  .titanfont{
    font-family: 'Titan One', cursive;
  }
  .background{
   background-color: rgb(249, 240, 240);
   box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 1);
  }

  ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  .flex-center{
    display: flex;
    justify-content: center;
  }
#function-post{
width: 40vw;
height: auto;
padding: 15px;
display: flex;
justify-content: center;
border: none;
}
#function-2eg{
  width: 40vw;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  border: none;
}
#holytrio{
  width:60vw;
  height:auto;
  vertical-align: middle;
border: 1px solid black;
}
#arrExample{
  width:60vw;
  height:auto;
  vertical-align: middle;
  border: 1px solid black;
}
#domtree{
  width:45vw;
  height:auto;
  vertical-align: middle;
  border: 1px solid black;
}
#Mathgif {
  width: 50vw;
  height: auto;
}
#problem-example {
  width: 45vw;
  height: auto;
}
.htmlCSS {
  width: 70vw;
  height: auto;
}
/* BACK TO TOP BUTTON */
#backtoTop {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
/* back to top button */
.scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

  @media screen and (max-width: 500px) {
    .img {
      width: 100%;
    }
  }